button {
    color: blue;
    border: none;
}

button:hover{
    background-color:lightgray !important;

}

#textCol1 {
    background-color: lightsteelblue !important;

}

#textCol2{
    background-color: lightsteelblue !important;
}

#textCol3{
    background-color: lightsteelblue !important;
}

#textCol4{
    background-color: mediumaquamarine !important;
}

#textCol5{
    background-color: mediumaquamarine !important;
}

#textCol6{
    background-color: mediumaquamarine !important;
}

#textCol7{
    background-color: mediumpurple !important;
}

#textCol8{
    background-color: mediumpurple !important;
}

#textCol9{
    background-color: mediumpurple !important;
}

 